// =============================================================================
// BLOCKER (CSS)
// Purpose: Position .blocker element above another element to prevent user event
// =============================================================================

.blocker {
    background: rgba($body-bg, 0.5);
    inset: 0;
    position: absolute;
    z-index: zIndex('highest');
}

.blocker-container {
    position: relative;
}
