---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---



{{#partial "hero"}}
    {{{region name="home_below_menu"}}}
    <div class="usp-banner d-flex align-middle">
        <div data-slick='{
            "dots": false,
            "autoplay":true,
            "infinite": true,
            "mobileFirst": true,
            "arrows": false,
            "slidesToShow": 1,
            "slidesToScroll": 1,
            "slide": ".js-product-slide",
            "prevArrow": "",
            "nextArrow": "",
            "responsive": [
                {
                    "breakpoint": 800,
                    "settings": {
                        "slidesToShow": 4,
                        "slidesToScroll": 1
                    }
                },
                {
                    "breakpoint": 550,
                    "settings": {
                        "slidesToShow": 2,
                        "slidesToScroll": 1
                    }
                }
            ]
        }'>
            <div class=" js-product-slide">
                <svg >
                    <use href="#usp-icon"/>
                </svg>
                Made with love in the UK
            </div>
            <div class=" js-product-slide">
                <svg >
                    <use href="#usp-icon2"/>
                </svg>
                Natural Ingredients & Grain Free
            </div>
            <div class=" js-product-slide">
                <svg >
                    <use href="#usp-icon3"/>
                </svg>
                Recommended by Vets
            </div>
        </div>
    </div>
    <!-- {{#and carousel carousel.slides.length}}
        {{> components/carousel arrows=theme_settings.homepage_show_carousel_arrows play_pause_button=theme_settings.homepage_show_carousel_play_pause_button}}
    {{/and}} -->
    {{{region name="home_below_carousel"}}}
{{/partial}}

{{#partial "page"}}

    {{#each shipping_messages}}
        {{> components/common/alert/alert-info message}}
    {{/each}}

    <div class="trusted-by-section">
        {{{region name="home_trusted_by"}}}
        <h2>Trusted by</h2>
        <img src="https://cdn11.bigcommerce.com/s-lh9wfk05w0/images/stencil/original/image-manager/trusted-by-logos4.png" alt="">
        <img src="https://cdn11.bigcommerce.com/s-lh9wfk05w0/images/stencil/original/image-manager/trusted-by-logos.png" alt="">
        <img src="https://cdn11.bigcommerce.com/s-lh9wfk05w0/images/stencil/original/image-manager/trusted-by-logos1.png" alt="">

    </div>

    <div class="main full">
        <div class="carousel" data-slick='{
            "dots": false,
            "prevArrow": false,
            "nextArrow": false,
            "autoplay": true,
            "autoplaySpeed": 3000,
            "infinite": true,
            "slidesToShow": 4,
            "slidesToScroll": 1,
            "responsive": [
                {
                    "breakpoint": 1400,
                    "settings": {
                        "slidesToShow": 4,
                        "slidesToScroll": 1
                    }
                },
                {
                    "breakpoint": 1240,
                    "settings": {
                        "slidesToShow": 3,
                        "slidesToScroll": 1
                    }
                },
                {
                    "breakpoint": 900,
                    "settings": {
                        "slidesToShow": 2,
                        "slidesToScroll": 1
                    }
                },
                {
                    "breakpoint": 620,
                    "settings": {
                        "slidesToShow": 1,
                        "slidesToScroll": 1
                    }
                }
            ]
        }'>
            <div class="card">
                <div class="image"><img class="lazyloaded" data-src="https://cdn11.bigcommerce.com/s-lh9wfk05w0/images/stencil/original/image-manager/website-pack-shots-tubs-1.png?t=1682930961" alt="" src="https://cdn11.bigcommerce.com/s-lh9wfk05w0/images/stencil/original/image-manager/website-pack-shots-tubs-1.png?t=1682930961"></div>
                <div class="text">
                    <h3 class="h3">Tubs</h3>
                    <p>Available in 6 flavours (450g)</p>
                    <a class="button button--primary" href="/adult-cat/product/450g-tubs/">Order Now</a>
                </div>
            </div>
            <div class="card">
                <div class="image"><img class="lazyloaded" data-src="https://cdn11.bigcommerce.com/s-lh9wfk05w0/images/stencil/original/image-manager/website-pack-shots-tubs-1-1.png?t=1682930962" alt="" src="https://cdn11.bigcommerce.com/s-lh9wfk05w0/images/stencil/original/image-manager/website-pack-shots-tubs-1-1.png?t=1682930962"></div>
                <div class="text">
                    <h3 class="h3">Raw Treats</h3>
                    <p>See our product range</p>
                    <a class="button button--primary" href="/adult-cat/product/raw-treats/">Order Now</a>
                </div>
            </div>
            <div class="card">
                <div class="image"><img class="lazyloaded" data-src="https://cdn11.bigcommerce.com/s-lh9wfk05w0/images/stencil/original/image-manager/website-pack-shots-tubs-1-2.png?t=1682930964" alt="" src="https://cdn11.bigcommerce.com/s-lh9wfk05w0/images/stencil/original/image-manager/website-pack-shots-tubs-1-2.png?t=1682930964"></div>
                <div class="text">
                    <h3 class="h3">Trial Packs</h3>
                    <p>Adult and Kitten options</p>
                    <a class="button button--primary" href="/adult-cat/product/trial-packs/">Order Now</a>
                </div>
            </div>
            <div class="card">
                <div class="image"><img class="lazyloaded" data-src="https://purrform-apps-027e.onrender.com/images/pouches.png" alt="" src="https://purrform-apps-027e.onrender.com/images/pouches.png"></div>
                <div class="text">
                    <h3 class="h3">Standard pouches</h3>
                    <p>Available in 6 flavours (6 x 70g)</p>
                    <a class="button button--primary" href="/adult-cat/product/pouches/">Order Now</a>
                </div>
            </div>
            <div class="card">
                <div class="image"><img class="lazyloaded" data-src="https://purrform-apps-027e.onrender.com/images/premium-pouch.png" alt="" src="https://purrform-apps-027e.onrender.com/images/premium-pouch.png"></div>
                <div class="text">
                    <h3 class="h3">Premium Pouches</h3>
                    <p>Available in 4 flavours (6 x 70g)</p>
                    <a class="button button--primary" href="/adult-cat/range/premium/">Order Now</a>
                </div>
            </div>
            <div class="card">
                <div class="image"><img class="lazyloaded" data-src="https://purrform-apps-027e.onrender.com/images/hpp.png" alt="" src="https://purrform-apps-027e.onrender.com/images/hpp.png"></div>
                <div class="text">
                    <h3 class="h3">5 Days Fresh Pouches</h3>
                    <p>Available in 4 flavours (300g)</p>
                    <a class="button button--primary" href="/adult-cats/product/5-days-fresh/">Order Now</a>
                </div>
            </div>

            <div class="card">
                <div class="image"><img class="lazyloaded" data-src="https://purrform-apps-027e.onrender.com/images/suplements.png" alt="" src="https://purrform-apps-027e.onrender.com/images/suplements.png"></div>
                <div class="text">
                    <h3 class="h3">Supplements</h3>
                    <p>See our product range</p>
                    <a class="button button--primary" href="/other/supplements/">Order Now</a>
                </div>
            </div>
        </div>

        {{#if products.featured}}
            <div class="products-carousel">
                <div class="container">
                    {{> components/products/featured products=products.featured columns=theme_settings.homepage_featured_products_column_count}}
                </div>
            </div>
        {{/if}}
        {{{region name="home_below_featured_products"}}}

        {{#if products.top_sellers}}
        <div class="products-carousel">
            <div class="container">
                {{> components/products/top products=products.top_sellers columns=theme_settings.homepage_top_products_column_count}}
            </div>
        </div>
        {{/if}}
        {{{region name="home_below_top_products"}}}

        {{#if products.new}}
        <div class="products-carousel">
            <div class="container">
                {{> components/products/new products=products.new columns=theme_settings.homepage_new_products_column_count}}
            </div>
        </div>
        {{/if}}
        {{{region name="home_below_new_products"}}}
    </div>
{{/partial}}
{{> layout/base}}

<style>
    .carousel {
        background-color: white;
        padding: 4rem 1rem 2rem;
        overflow: hidden;
        color:#556153;
    }

    .carousel .card {
        background-color: white;
        margin: 0 0.5rem;
        border: 2px solid #556153;
        border-radius: 1.5rem;
        color: #556153;

        img {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1rem;
            width: auto;
            max-height: 220px;
        }

        .text {
            padding: 1rem 0.5rem 0.5rem;
            color: #556153;
            h3 {
                font-family: 'Filson Pro', sans-serif;
                font-size: 1.35rem;
                font-weight: bold;
                color: #556153;
                white-space: nowrap;      /* Prevents the text from wrapping */
                overflow: hidden;         /* Hides the overflowed text */
                text-overflow: ellipsis;  /* Adds the ellipsis (...) at the end */
            }
            p {
                font-family: 'Filson Pro', sans-serif;
                font-size: 0.95rem;
                white-space: nowrap;      /* Prevents the text from wrapping */
                overflow: hidden;         /* Hides the overflowed text */
                text-overflow: ellipsis;  /* Adds the ellipsis (...) at the end */
            }
        }
    }

    .carousel .card:hover {
        border: 2px solid #bd9b60;
    }

    .text a {
        width: 100%;
        font-family: 'Filson Pro', sans-serif;
    }
</style>