.card {
    overflow: hidden;
    padding: 0.5rem;
    border-radius: 10px;
    margin-bottom: 25px;

    @include breakpoint('small') {
        min-width: 205px;
    }

    * {
        font-family: 'Filson Pro', sans-serif;
    }

    &:hover {
        border: 1px solid $color-gold;
        box-shadow:
            0 2px 2px 0 rgba(0, 0, 0, 0.1),
            0 3px 10px 0 rgba(0, 0, 0, 0.05);

        .card-button {
            .button--secondary {
                background-color: $color-gold-light;
            }

            .add-to-cart {
                background-color: $color-brand-primary;
                color: $color-white;

                svg {
                    path {
                        fill: $color-white;
                    }
                }
            }
        }
    }

    .card-figure {
        overflow: hidden;
        position: relative;

        .card-img-container {
            &::after {
                padding-bottom: 70%;
            }

            img {
                width: 80%;
                height: auto;
                transition: all 0.3s ease;
            }
        }
    }

    .card-body {
        text-align: center;
        display: grid;
        grid-template-rows: auto 85px auto;

        .card-text {
            color: $color-brand-dark;
            font-weight: 700;

            span {
                color: $color-text;
            }
        }

        .card-productRating {
            height: 5px;
            margin-bottom: 0.5rem;

            @include breakpoint('medium') {
                margin-bottom: 0.5rem;
            }
        }

        .card-title {
            margin-bottom: 0;

            a {
                color: $color-brand-dark;
            }
        }

        .custom-fields {
            margin-bottom: 0;
            font-size: 14px;
            height: 3.8rem;

            @include breakpoint('medium') {
                height: 2.5rem;
            }
        }

        .quantity {
            display: block;
            margin-top: 0;

            @include breakpoint('medium') {
                display: flex;
                margin-top: 1rem;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
            }

            .form-field--increments {
                margin-bottom: 0;
            }

            .card-figcaption-button {
                margin-top: 1rem;
                padding: 1rem 2.2rem 1rem 0.7rem;
                color: $color-white;
                background-color: $color-brand-primary;

                @include breakpoint('medium') {
                    margin-top: 0;
                    background-color: transparent;
                    transition: all 0.15s ease;
                    color: $color-text;

                    &:hover {
                        background-color: $color-brand-primary;
                        color: $color-white;
                    }
                }
            }
        }

        .card-button {
            width: 100%;
            margin-top: 1rem;

            .button--secondary {
                background-color: transparent;
                transition: all 0.15s ease;
                color: $color-text;
                height: 75px;
            }

            .add-to-cart {
                border: 0;
                display: flex;
                gap: 10px;
                align-items: center;
                justify-content: center;
                text-align: center;
                margin-top: 1rem;
                margin-bottom: 0;
                padding: 1rem 1.5rem;
                background-color: $color-brand-primary;
                color: $color-white;

                svg {
                    path {
                        fill: $color-white;
                    }
                }

                @include breakpoint('medium') {
                    margin-top: 0;
                    background-color: transparent;
                    color: $color-text;

                    svg {
                        path {
                            fill: $color-gold;
                        }
                    }
                }
            }
        }
    }
}

.similar-by-views {
    padding-top: 4rem;

    @include breakpoint('medium') {
        padding-top: 6rem;
    }

    h2 {
        font-family: 'Filson Pro', sans-serif;
        color: $color-brand-primary;
        font-weight: 700;
        font-size: 28px;

        @include breakpoint('medium') {
            font-size: 40px;
        }
    }
}
