{{#partial "page"}} {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
{{#if customer_group_name '===' 'Trade'}}
<h1 class="page-heading page-heading--account">Pricelist</h1>
{{else if customer_group_name '===' 'New Trader'}}
<h1 class="page-heading page-heading--account">Pricelist</h1>
{{else}}
<h1 class="page-heading page-heading--account">Rewards</h1>
{{/if}}
{{> components/account/navigation account_page='messages'}} {{inject
"customerEmail" customer.email}} {{inject "customerName" customer.name}}

{{#if customer_group_name '===' 'Trade'}}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const activeBreadcrumbLi = document.querySelector('.breadcrumb.is-active');
        const activeBreadcrumbA = activeBreadcrumbLi.querySelector('.breadcrumb-label');
        const activeBreadcrumbSpan = activeBreadcrumbA.querySelector('span');
        activeBreadcrumbSpan.textContent = 'Pricelist';

        const navSectionEl = document.querySelector('a.navBar-action[href="/account.php?action=inbox"]');
        navSectionEl.textContent = 'Pricelist';
    });
</script>
{{/if}}

{{#if customer_group_name '===' 'New Trader'}}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const activeBreadcrumbLi = document.querySelector('.breadcrumb.is-active');
        const activeBreadcrumbA = activeBreadcrumbLi.querySelector('.breadcrumb-label');
        const activeBreadcrumbSpan = activeBreadcrumbA.querySelector('span');
        activeBreadcrumbSpan.textContent = 'Pricelist';

        const navSectionEl = document.querySelector('a.navBar-action[href="/account.php?action=inbox"]');
        navSectionEl.textContent = 'Pricelist';
    });
</script>
{{/if}}

<div class="account account--fixed">
    <div class="account-body">
        <section class="account-content">
            {{#if customer_group_name '===' 'Trade TNC'}}
            <div class="reward-section">
                <p>
                    No rewards available for your customer group at this time.
                </p>
            </div>
            {{/if}}
            {{#if customer_group_name '===' 'Trade'}}
            <div class="reward-section">
                <p>
                    Here you can browse our trade catalogue. Press the download button to save a copy to your device.
                </p>
                <iframe allowfullscreen="allowfullscreen" scrolling="no" class="fp-iframe" src="https://heyzine.com/flip-book/038b0cc8f9.html" style="border: 0px; width: 100%; height: 500px;"></iframe>
            </div>
            {{/if}}
            {{#if customer_group_name '===' 'New Trader'}}
            <div class="reward-section">
                <p>
                    Here you can browse our trade catalogue. Press the download button to save a copy to your device.
                </p>
                <iframe allowfullscreen="allowfullscreen" allow="clipboard-write" scrolling="no" class="fp-iframe" src="https://heyzine.com/flip-book/924206dbaa.html" style="border: 0px; width: 100%; height: 500px;"></iframe>
            </div>
            {{/if}}
            {{#unless customer_group_name '===' 'Trade'}}
            {{#unless customer_group_name '===' 'Trade TNC'}}
            {{#unless customer_group_name '===' 'New Trader'}}
            <div class="reward-section">
                <h2>Loyalty points</h2>
                <p>Purchase goods to earn points for discounts!</p>
                <p id="loyalty-points-balance">No balance found.</p>
            </div>
            {{/unless}}
            {{/unless}}
            {{/unless}}
            {{#if customer_group_name '===' 'Personal'}}
            <div class="reward-section">
                <h2>Birthday gift</h2>
                <p>Register your cat to receive a 10% discount voucher when it's their birthday! The purrfect gift!</p>
                <div class="birthday-error"></div>
                <div class="household-question">
                    How many cats do you have in your household?
                    <div>
                        <button onclick="registerOwner(1)"> 1 </button>
                        <button onclick="registerOwner(2)"> 2 </button>
                        <button onclick="registerOwner(3)"> 3 </button>
                        <button onclick="registerOwner(4)"> 4 </button>
                    </div>
                </div>
                <div class="cat-birthdays">
                    <form id="add-birthday-form">
                        <div class="reward-form">
                            <div>
                                <label class="form-label" for="reward-cat-name"
                                    >Name</label
                                >
                                <input
                                    type="text"
                                    id="reward-cat-name"
                                    required
                                    minlength="2"
                                />
                            </div>
                            <div>
                                <label class="form-label" for="reward-cat-sex"
                                    >Sex</label
                                >
                                <select name="sex" id="reward-cat-sex">
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </div>
                            <div>
                                <label class="form-label" for="reward-cat-breed"
                                    >Breed</label
                                >
                                <input
                                    type="text"
                                    id="reward-cat-breed"
                                    required
                                    minlength="2"
                                />
                            </div>
                            <div>
                                <label
                                    class="form-label"
                                    for="reward-cat-birthday"
                                    >Birthday</label
                                >
                                <input
                                    type="date"
                                    id="reward-cat-birthday"
                                    required
                                />
                            </div>
                            <button
                                class="button button--primary add-cat-btn"
                                type="submit"
                                >Add Cat</button
                            >
                        </div>
                    </form>

                    <div class="list-of-cats"> </div>
                </div>
            </div>
            {{/if}} {{#if customer_group_name '===' 'Personal'}}
            <div id="friend-referral" class="reward-section">
                <h2>Refer a friend</h2>
                <p
                    >Refer a friend and both of you will receive a 5% discount
                    code.</p
                >
                <form id="friend-referral-form">
                    <p id="friendError"></p>
                    <label class="form-label" for="reward-friend-refer-email"
                        >Email Address</label
                    >
                    <input type="email" id="reward-friend-refer-email" />
                    <button class="button button--primary" type="submit"
                        >Submit</button
                    >
                </form>
                <button id="previous-friends-btn" class="button button--primary"
                    >See previous referrals</button
                >
                <div id="previous-friends-container">
                    <div id="previous-friends-length"></div>
                    <div id="previous-friends-grid">
                        <div
                            id="previous-friends-grid-title-email"
                            class="previous-grid-title"
                            >Email</div
                        >
                        <div
                            id="previous-friends-grid-title-date"
                            class="previous-grid-title"
                            >Date</div
                        >
                        <div
                            id="previous-friends-grid-title-purchased"
                            class="previous-grid-title"
                            >Purchased</div
                        >
                    </div>
                </div>
            </div>
            {{/if}} {{#if customer_group_name '===' 'Breeder'}}
            <div id="breeder-referral" class="reward-section">
                <h2>Breeder referral</h2>
                <p
                    >Send a 10% discount code to your customers and when 5
                    customers redeem their codes, you will receive a 10% discount
                    code as a reward.</p
                >
                <form id="breeder-referral-form">
                    <p id="breederError"></p>
                    <label class="form-label" for="reward-breeder-refer-email"
                        >Email Address</label
                    >
                    <input type="email" id="reward-breeder-refer-email" />
                    <button class="button button--primary" type="submit"
                        >Submit</button
                    >
                </form>
                <button
                    id="previous-referrals-btn"
                    class="button button--primary"
                    >See previous referrals</button
                >
                <div id="previous-container">
                    <div id="previous-length"></div>
                    <div id="previous-grid">
                        <div
                            id="previous-grid-title-email"
                            class="previous-grid-title"
                            >Email</div
                        >
                        <div
                            id="previous-grid-title-date"
                            class="previous-grid-title"
                            >Date</div
                        >
                        <div
                            id="previous-grid-title-purchased"
                            class="previous-grid-title"
                            >Purchased</div
                        >
                    </div>
                </div>
            </div>
            {{/if}}
        </section>
        <section class="account-footer">
            <span
                >Terms and conditions apply, full T&Cs can be found at <br />
                <a href="https://www.purrform.co.uk/terms-conditions/"
                    >https://www.purrform.co.uk/terms-conditions/</a
                >
            </span>
        </section>
    </div>
</div>
{{#if customer_group_name '===' 'Breeder'}}
<script>
    // sends a breeder referral
    const jsContext = JSON.parse({{jsContext}});
    const breederReferralForm = document.querySelector('#breeder-referral-form')
    const breederRerferralButton = document.querySelector('#breeder-referral-form .button-primary')
    const breederReferralInput = document.querySelector('#reward-breeder-refer-email')
    const breederEmail = jsContext.customerEmail
    const errorMsg = document.querySelector('#breederError')
    // errorMsg.textContent = "";
    breederReferralForm.addEventListener('submit', (e) => {
        e.preventDefault();
        e.submitter.classList.add('disabled')

        if (breederReferralInput.value.trim() === "") {
            errorMsg.textContent = "Error: Field is empty";
            errorMsg.style.color = "red";
            setTimeout(function() {
                e.submitter.classList.remove('disabled')
            }, 750);
            return;
        }

        fetch(`https://purrform-apps-027e.onrender.com/breederReferralForm?breederEmail=${encodeURIComponent(breederEmail)}&customerEmail=${encodeURIComponent(breederReferralInput.value)}`, {
            method: "GET",
            headers: {
                'Content-Type': 'application/json'
            },
        })
        .then(async (response) => {
            if (!response.ok) {
                const message = await response.text()
                errorMsg.style.color = "red";
                errorMsg.textContent = message

            } else {
                errorMsg.style.color = "initial";
                errorMsg.style.fontWeight = "bold";
                errorMsg.textContent = "Referral succesful - 10% discount code sent to customer.";
                breederReferralInput.value = "";
            }
            setTimeout(function() {
                e.submitter.classList.remove('disabled')
            }, 750);
        })
        .catch(err => {
            errorMsg.textContent = err.message
            setTimeout(function() {
                e.submitter.classList.remove('disabled')
            }, 750);
        })
    })
</script>
<script>
    // fetches previous breeder referrals
    const seePreviousBtn = document.querySelector('#previous-referrals-btn');
    const previousLength = document.querySelector('#previous-length');

    seePreviousBtn.addEventListener('click', (e) => {
        e.preventDefault();
        fetch(
            `https://purrform-apps-027e.onrender.com/getBreedersPreviousReferrals?breederEmail=${breederEmail}`,
            {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
            }
        )
            .then((response) => {
                if (!response.ok) {
                    previousLength.textContent =
                        'Error fetching previous referrals, please try again later.';
                } else {
                    response.json().then((data) => {
                        const purchasedCount = data.filter(
                            (item) => item.has_purchased
                        ).length;
                        previousLength.innerHTML = `You have referred <strong>${data.length}</strong> customers. <strong>${purchasedCount}</strong> ${purchasedCount === 1 ? 'has' : 'have'} purchased.`;
                        const previousGrid =
                            document.querySelector('#previous-grid');
                        if (data.length > 0) {
                            // remove previous grid items (for refreshing)
                            const gridItems = document.querySelectorAll(
                                '.previous-grid-item'
                            );
                            gridItems.forEach((item) => {
                                item.remove();
                            });
                            previousGrid.style.display = 'grid';
                        }

                        const sortedData = data.sort((a, b) => a.has_purchased ? -1 : 1);

                        sortedData.forEach(({ customer_email, has_purchased, created_at }) => {
                            const email = document.createElement('div');
                            email.classList.add('previous-grid-item');
                            email.textContent = customer_email;

                            const createdAt = document.createElement('div');
                            createdAt.classList.add('previous-grid-item');
                            createdAt.textContent = created_at;

                            const purchased = document.createElement('div');
                            purchased.classList.add('previous-grid-item');
                            purchased.textContent = has_purchased
                                ? 'Yes'
                                : 'No';

                            if (has_purchased) {
                                email.style.backgroundColor = 'rgba(0, 255, 0, 0.15)';
                                createdAt.style.backgroundColor = 'rgba(0, 255, 0, 0.15)';
                                purchased.style.backgroundColor = 'rgba(0, 255, 0, 0.15)';
                            }

                            previousGrid.appendChild(email);
                            previousGrid.appendChild(createdAt);
                            previousGrid.appendChild(purchased);
                        });
                    });
                }
            })
            .catch((err) => {
                previousLength.textContent =
                    'Error fetching previous referrals, please try again later.';
            });
    });
</script>
{{/if}} {{#if customer_group_name '===' 'Personal'}}
<script>
    // Friend referral
    const friendJsContext = JSON.parse({{jsContext}});
    const friendReferralForm = document.querySelector('#friend-referral-form')
    const friendReferralInput = document.querySelector('#reward-friend-refer-email')
    const customerEmail = friendJsContext.customerEmail
    const customerName = friendJsContext.customerName
    const friendErrorMsg = document.querySelector('#friendError')
    // errorMsg.textContent = "";
    friendReferralForm.addEventListener('submit', (e) => {
        e.preventDefault();
        e.submitter.classList.add('disabled')

        if (friendReferralInput.value.trim() === "") {
            friendErrorMsg.textContent = "Error: Field is empty";
            friendErrorMsg.style.color = "red";
            setTimeout(function() {
                e.submitter.classList.remove('disabled')
            }, 750);
            return;
        }

        const encodedCustomerName = encodeURIComponent(customerName);
        const encodedCustomerEmail = encodeURIComponent(customerEmail);
        const encodedFriendEmail = encodeURIComponent(friendReferralInput.value);

        fetch(`https://purrform-apps-027e.onrender.com/friendReferralForm?friendEmail=${encodedFriendEmail}&customerEmail=${encodedCustomerEmail}&customerName=${encodedCustomerName}`, {
            method: "GET",
            headers: {
                'Content-Type': 'application/json'
            },
        })
        .then(async (response) => {
            if (!response.ok) {
                const message = await response.text()
                friendErrorMsg.style.color = "red";
                friendErrorMsg.textContent = message
            } else {
                friendErrorMsg.textContent = "Referral succesful";
                friendReferralInput.value = "";
                friendErrorMsg.style.color = "initial";
            }
            setTimeout(function() {
                e.submitter.classList.remove('disabled')
            }, 750);
        })
        .catch(err => {
            friendErrorMsg.style.color = "red";
            friendErrorMsg.textContent = err.message
            setTimeout(function() {
                e.submitter.classList.remove('disabled')
            }, 750);
        })
    })
</script>
<script>
    // fetches previous friend referrals
    const seePreviousFriendsBtn = document.querySelector(
        '#previous-friends-btn'
    );
    const previousFriendsLength = document.querySelector(
        '#previous-friends-length'
    );

    seePreviousFriendsBtn.addEventListener('click', (e) => {
        e.preventDefault();
        fetch(
            `https://purrform-apps-027e.onrender.com/getFriendsPreviousReferrals?customerEmail=${customerEmail}`,
            {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
            }
        )
            .then((response) => {
                if (!response.ok) {
                    previousFriendsLength.textContent =
                        'Error fetching previous referrals, please try again later.';
                } else {
                    response.json().then((data) => {
                        const purchasedCount = data.filter(
                            (item) => item.has_purchased
                        ).length;
                        previousFriendsLength.innerHTML = `You have referred <strong>${data.length}</strong> customers. <strong>${purchasedCount}</strong> ${purchasedCount === 1 ? 'has' : 'have'} purchased.`;
                        const previousGrid = document.querySelector(
                            '#previous-friends-grid'
                        );
                        if (data.length > 0) {
                            // remove previous grid items (for refreshing)
                            const gridItems = document.querySelectorAll(
                                '.previous-grid-item'
                            );
                            gridItems.forEach((item) => {
                                item.remove();
                            });
                            previousGrid.style.display = 'grid';
                        }

                        const sortedData = data.sort((a, b) => a.has_purchased ? -1 : 1);

                        sortedData.forEach(({ friend_email, has_purchased, created_at }) => {
                            const email = document.createElement('div');
                            email.classList.add('previous-grid-item');
                            email.textContent = friend_email;

                            const createdAt = document.createElement('div');
                            createdAt.classList.add('previous-grid-item');
                            createdAt.textContent = created_at;

                            const purchased = document.createElement('div');
                            purchased.classList.add('previous-grid-item');
                            purchased.textContent = has_purchased
                                ? 'Yes'
                                : 'No';

                            if (has_purchased) {
                                email.style.backgroundColor = 'rgba(0, 255, 0, 0.15)';
                                createdAt.style.backgroundColor = 'rgba(0, 255, 0, 0.15)';
                                purchased.style.backgroundColor = 'rgba(0, 255, 0, 0.15)';
                            }

                            previousGrid.appendChild(email);
                            previousGrid.appendChild(createdAt);
                            previousGrid.appendChild(purchased);
                        });
                    });
                }
            })
            .catch((err) => {
                previousFriendsLength.textContent =
                    'Error fetching previous friend referrals, please try again later.';
            });
    });
</script>
{{/if}}
<script>
    // Append the usePointsDiv to the target element
    function fetchLoyalty() {
        return fetch('/graphql', {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                'Content-Type': 'application/json',
                Authorization: 'Bearer {{ settings.storefront_api.token }}',
            },
            body: JSON.stringify({
                query: `
                query loyaltyQuery{
                    customer {
                        attributes {
                            attribute(entityId: 1) {
                                value
                                name
                            }
                        }
                    }
                }
            `,
            }),
        })
            .then((res) => res.json())
            .then((json) => {
                const attribute = json.data.customer.attributes.attribute;
                const points = attribute ? attribute.value : '0'; // Default to '0' if attribute is not found

                const pointsBalanceElement = document.getElementById(
                    'loyalty-points-balance'
                );
                pointsBalanceElement.textContent = `Current Balance: ${points}`;
            })
            .catch((error) => {
                const pointsBalanceElement = document.getElementById(
                    'loyalty-points-balance'
                );
                pointsBalanceElement.textContent = 'Current Balance: 0';
            });
    }
    fetchLoyalty();
    document.addEventListener('DOMContentLoaded', fetchLoyalty());
</script>
{{#if customer_group_name '===' 'Personal'}}
<script>
    const birthdayJsContext = JSON.parse({{jsContext}});
    const householdQuestionDiv = document.querySelector('.household-question');
    const birthdayErrorDiv = document.querySelector('.birthday-error');
    const birthdayFormDiv = document.querySelector('.reward-form');
    const catListDiv = document.querySelector('.list-of-cats');
    const mainContainer = document.querySelector('.cat-birthdays');
    const birthdayDateInput = document.querySelector('#reward-cat-birthday');

    const todayDate = new Date().toISOString().slice(0, 10);
    const todayYear = new Date().getFullYear();
    const startYear = todayYear - 25;
    const startDate = `${startYear}${todayDate.slice(4)}`;

    birthdayDateInput.setAttribute('max', todayDate);
    birthdayDateInput.setAttribute('min', startDate);

    let catsInHousehold,
        catsRegistered = 0,
        changeSlotAvailable,
        changeSlotUsed,
        registeredCatsData;

    const changeButtonAvailable = catsRegistered === 4 && changeSlotAvailable;

    // Call backend to see if customer has registered a cat
    fetch(
        `https://purrform-apps-027e.onrender.com/getCatOwnerInfo?ownerEmail=${encodeURIComponent(birthdayJsContext.customerEmail)}&withCats=true`
    )
        .then((response) => {
            if (!response.ok) {
                if (response.status === 404) {
                    householdQuestionDiv.style.display = 'block';
                    return;
                } else {
                    birthdayErrorDiv.style.display = 'block';
                    birthdayErrorDiv.textContent =
                        'Error connecting to the server, please try again later.';
                    return;
                }
            }
            return response.json();
        })
        .then((data) => {
            if (!data) {
                const catListTitle = document.createElement('h5');
                catListTitle.classList.add('cat-list-title');
                catListTitle.textContent = `You have not registered any cats yet.`;
                catListDiv.appendChild(catListTitle);
                catListDiv.appendChild(document.createElement('br'));
                return;
            }
            mainContainer.style.display = 'block';
            householdQuestionDiv.style.display = 'none';
            birthdayErrorDiv.style.display = 'none';

            catsRegistered = data.cats_registered;
            catsInHousehold = data.cats_in_household;
            if (catsRegistered >= catsInHousehold) {
                birthdayFormDiv.style.display = 'none';
            }
            changeSlotAvailable = data.change_slot_available;
            changeSlotUsed = data.change_slot_used;
            registeredCatsData = data.cats;

            if (catsRegistered === 0) {
                catListDiv.textContent = 'No cats registered yet.';
                return;
            }

            const catListTitle = document.createElement('h5');
            catListTitle.classList.add('cat-list-title');
            catListTitle.textContent = `You have previously registered ${catsRegistered} cat${
                catsRegistered > 1 ? 's' : ''
            }`;
            catListDiv.appendChild(catListTitle);
            catListDiv.appendChild(document.createElement('br'));

            for (const registeredCat of registeredCatsData) {
                const catDiv = document.createElement('div');
                catDiv.classList.add('cat');
                catDiv.innerHTML = `
                    <div class="cat-header">${registeredCat.cat_name}</div>
                    <div class="cat-detail">Breed: ${registeredCat.cat_breed}</div>
                    <div class="cat-detail">Sex: ${registeredCat.cat_gender}</div>
                    <div class="cat-detail">Birthday: ${registeredCat.cat_birthday}</div>
                    <button class="delete-cat-btn" onclick="deleteCat('${registeredCat.cat_name}') ">Remove</button>
                `;
                if (changeSlotAvailable) {
                    catDiv.innerHTML += `
                        <button class="change-cat-btn" onclick="changeCat('${registeredCat.cat_name}')">Change</button>
                    `;
                }
                catListDiv.appendChild(catDiv);
            }

            const changeSlotMsg = document.createElement('p');
            changeSlotMsg.classList.add('change-slot-msg');
            if (changeSlotAvailable) {
                changeSlotMsg.textContent =
                    'You can change a cat by clicking the "Change" button. (1 change / year)';
            } else {
                changeSlotMsg.textContent =
                    'Contact us at support@purrform.co.uk if you require a change to your registered cats.';
            }
            mainContainer.appendChild(changeSlotMsg);
            mainContainer.appendChild(document.createElement('br'));
        })
        .catch((err) => {
            console.error(err);
            birthdayErrorDiv.style.display = 'block';
            birthdayErrorDiv.textContent =
                'Error connecting to the server, please try again later.';
        });

    function registerOwner(householdCats) {
        fetch(
            `https://purrform-apps-027e.onrender.com/registerCatOwner?ownerEmail=${encodeURIComponent(birthdayJsContext.customerEmail)}&catsInHousehold=${householdCats}`
        )
            .then((response) => {
                if (!response.ok) {
                    birthdayErrorDiv.style.display = 'block';
                    birthdayErrorDiv.textContent =
                        'Error connecting to the server, please try again later.';
                    return;
                }
                birthdayErrorDiv.style.display = 'none';
                householdQuestionDiv.style.display = 'none';
                document.querySelector('.cat-birthdays').style.display =
                    'block';
                return;
            })
            .catch((err) => {
                console.error(err);
                birthdayErrorDiv.style.display = 'block';
                birthdayErrorDiv.textContent =
                    'Error connecting to the server, please try again later.';
                return;
            });
    }

    const addCatForm = document.querySelector('#add-birthday-form');
    addCatForm.addEventListener('submit', (e) => {
        e.preventDefault();

        const addBtn = document.querySelector('.add-cat-btn');
        addBtn.classList.add('disabled');
        addBtn.textContent = 'Adding...';

        const catName = document.querySelector('#reward-cat-name').value;
        const catBreed = document.querySelector('#reward-cat-breed').value;
        const catGender = document.querySelector('#reward-cat-sex').value;
        const catBirthday = document.querySelector(
            '#reward-cat-birthday'
        ).value;

        if (
            catName.trim() === '' ||
            catBreed.trim() === '' ||
            catGender.trim() === '' ||
            catBirthday.trim() === ''
        ) {
            birthdayErrorDiv.style.display = 'block';
            birthdayErrorDiv.textContent = 'Please fill in all fields.';
            return;
        }

        fetch(
            `https://purrform-apps-027e.onrender.com/registerCatBirthday?ownerEmail=${encodeURIComponent(birthdayJsContext.customerEmail)}&catName=${encodeURIComponent(catName)}&catBreed=${encodeURIComponent(catBreed)}&catGender=${catGender}&catBirthday=${catBirthday}`
        )
            .then(async (response) => {
                if (!response.ok) {
                    const message = await response.text();
                    birthdayErrorDiv.style.display = 'block';
                    birthdayErrorDiv.textContent = message;
                    addBtn.textContent = 'Add Cat';
                    addBtn.classList.remove('disabled');
                    return;
                }

                // refresh the page
                window.location.reload();
            })
            .catch((err) => {
                birthdayErrorDiv.style.display = 'block';
                birthdayErrorDiv.textContent =
                    'Error connecting to the server, please try again later.';
                addBtn.textContent = 'Add Cat';
                addBtn.classList.remove('disabled');
                return;
            });
    });

    function deleteCat(catName) {
        fetch(
            `https://purrform-apps-027e.onrender.com/deleteCatBirthday?ownerEmail=${encodeURIComponent(birthdayJsContext.customerEmail)}&catName=${encodeURIComponent(catName)}`
        )
            .then(async (response) => {
                if (!response.ok) {
                    const message = await response.text();
                    birthdayErrorDiv.style.display = 'block';
                    birthdayErrorDiv.textContent = message;
                    return;
                }

                // refresh the page
                window.location.reload();
            })
            .catch((err) => {
                birthdayErrorDiv.style.display = 'block';
                birthdayErrorDiv.textContent =
                    'Error connecting to the server, please try again later.';
                return;
            });
    }

    function changeCat(oldName) {
        const changeSlotDialog = document.createElement('dialog');
        changeSlotDialog.id = 'change-slot-dialog';

        const todayDate = new Date().toISOString().slice(0, 10);
        const todayYear = new Date().getFullYear();
        const startYear = todayYear - 25;
        const startDate = `${startYear}${todayDate.slice(4)}`;

        changeSlotDialog.innerHTML = `
            <p>Change your cat details</p>
            <form id="change-cat-form">
                <div>
                    <label for="change-cat-name" class="form-label">Cat Name</label>
                    <input type="text" id="change-cat-name" required minlength="2" />
                </div>
                <div>
                    <label for="change-cat-breed" class="form-label">Breed</label>
                    <input type="text" id="change-cat-breed" required minlength="2" />
                </div>
                <div>
                <label for="change-cat-sex" class="form-label">Sex</label>
                    <select name="sex" id="change-cat-sex">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
                <div>
                    <label for="change-cat-birthday" class="form-label">Birthday</label>
                    <input type="date" id="change-cat-birthday" required min="${startDate}" max="${todayDate}" />
                </div>
                <button type="submit">Change</button>
            </form>
            <div class="birthday-change-error"></div>
        `;
        const cancelButton = document.createElement('button');
        cancelButton.textContent = 'Cancel';
        cancelButton.style.display = 'block';
        cancelButton.style.width = '100%';
        cancelButton.onclick = () => {
            changeSlotDialog.close();
        };
        changeSlotDialog.appendChild(cancelButton);
        document.body.appendChild(changeSlotDialog);
        changeSlotDialog.showModal();

        const changeCatForm = document.querySelector('#change-cat-form');
        changeCatForm.addEventListener('submit', (e) => {
            e.preventDefault();

            const birthdayChangeErrorDiv = document.querySelector(
                '.birthday-change-error'
            );

            const catName = document.querySelector('#change-cat-name').value;
            const catBreed = document.querySelector('#change-cat-breed').value;
            const catGender = document.querySelector('#change-cat-sex').value;
            const catBirthday = document.querySelector(
                '#change-cat-birthday'
            ).value;

            if (
                catName.trim() === '' ||
                catBreed.trim() === '' ||
                catGender.trim() === '' ||
                catBirthday.trim() === ''
            ) {
                birthdayChangeErrorDiv.textContent =
                    'Please fill in all fields.';
                return;
            }

            const encodedCustomerEmail = encodeURIComponent(
                birthdayJsContext.customerEmail
            );
            const encodedOldName = encodeURIComponent(oldName);
            const encodedCatName = encodeURIComponent(catName);
            const encodedCatBreed = encodeURIComponent(catBreed);

            fetch(
                `https://purrform-apps-027e.onrender.com/changeCatBirthday?ownerEmail=${encodedCustomerEmail}&oldCatName=${encodedOldName}&newCatName=${encodedCatName}&newCatBreed=${encodedCatBreed}&newCatGender=${catGender}&newCatBirthday=${catBirthday}`
            )
                .then(async (response) => {
                    if (!response.ok) {
                        const message = await response.text();
                        birthdayChangeErrorDiv.textContent = message;
                        return;
                    }

                    birthdayErrorDiv.textContent = '';

                    const catDivs = document.querySelectorAll('.cat');
                    catDivs.forEach((catDiv) => {
                        if (
                            catDiv.querySelector('.cat-header').textContent ===
                            oldName
                        ) {
                            catDiv.innerHTML = `
                                <div class="cat-header">${catName}</div>
                                <div class="cat-detail">Breed: ${catBreed}</div>
                                <div class="cat-detail">Sex: ${catGender}</div>
                                <div class="cat-detail">Birthday: ${catBirthday}</div>
                                <button class="delete-cat-btn" onclick="deleteCat('${catName}')">Remove</button>
                            `;

                            // remove the change buttons
                            const changeButtons =
                                document.querySelectorAll('.change-cat-btn');
                            changeButtons.forEach((button) => {
                                button.remove();
                            });
                        }
                    });

                    changeSlotDialog.close();

                    // change the message if the user has used up their change slot
                    const changeSlotMsg =
                        document.querySelector('.change-slot-msg');
                    changeSlotMsg.textContent =
                        'Contact us at support@purrform.co.uk if you require a change to your registered cats.';
                    return;
                })
                .catch((err) => {
                    birthdayChangeErrorDiv.textContent =
                        'Error connecting to the server, please try again later.';
                    return;
                });
        });
    }
</script>
{{/if}} {{/partial}} {{> layout/base}}
