/* Variables */

/* Breakpoints */
$tablet: 800px;
$tablet-m: 801px;
$mobile: 550px;

/* Colors */
$color-brand-primary: #687d6a;
$color-error: #721c24;
$color-gray-darkest: #232524;
$color-gray-darkest: #232524;
$color-grey-dark: #666;
$color-gray-dark: #666;
$color-grey-medium: #8f8f8f;
$color-gray-medium: #8f8f8f;
$color-grey-light: #ddd;
$color-gray-light: #ddd;
$color-white: #fff;
$color-f-b: #232524;
