@import 'variables';
/* Custom Page Styling */
@import 'pages/cart';
@import 'pages/pdp';
@import 'pages/calculators';
@import 'pages/diet-builder';
@import 'pages/account';

/*Components*/
@import 'components/widgets/homepage_carousel';
@import 'components/accountsReward';
@import 'components/widgets/3-column';
@import 'components/productCarousel';
@import 'components/cards';
@import 'components/pagination';
@import 'components/blogs';

/*Layouts*/
@import 'layouts/footer';

.previewCartCheckout .previewCartCheckout-additionalCheckoutButtons {
    display: none !important;
}
