<ul class="productGrid">
    {{#each products}}
    <li class="product">
        {{#if this.price.sale_price_with_tax}} <span class="sale-banner">Sale</span> {{/if}}
            {{>components/products/card settings=../settings show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer event=../event position=(add @index 1)}}
    </li>
    {{/each}}
</ul>

<style>
    li.product {
        position: relative;
    }
    li.product:has(.sale-banner) {
        border: 1px dashed #007DC6;
    }
    li.product:has(.sale-banner):hover {
        border: none;
    }
    .sale-banner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        justify-content: center;
        display: flex;
        background: linear-gradient(90deg, transparent 35%, #007DC6 35%, #007DC6 65%, transparent 65%);
        color: #fff;
        padding: 5px;
        font-size: 12px;
        font-weight: bold;
        z-index:50;
    }
</style>