<form   class="form" method="post" action="{{add_to_cart_url}}" enctype="multipart/form-data"
data-cart-item-add>
<input type="hidden" name="action" value="add">
<input type="hidden" name="product_id" value="{{id}}"/>
                <span class="quick-cart">Add to Basket</span>
                 
                <div class="quick-add-to-cart" style="display: none;">

                <div class="add-quantity">
                    <span>1</span>
                    <span>10</span>
                    <span>20</span>
                    <span>30</span>
                    <span>40</span>
                    <span>50</span>
                    <span>60</span>
                    <span>70</span>
                    <span>80</span>
                    <span>90</span>                    
                    <span>100</span>
                    <span>150</span>
                    <span>200</span>
                    <span>250</span>
                    <span>300</span>                    
                </div>

<div id="add-to-cart-wrapper-{{id}}" class="add-to-cart-wrapper" >
  
    
{{#if customer.customer_group_name '===' 'Trade'}}
    
<div class="purchase-control form-field form-field--increments">
    <div class="form-increment" data-quantity-change>
        {{!--
        <span onclick="this.parentNode.querySelector('#qty').stepDown()" class="button button--icon">
            <span class="is-srOnly">{{lang 'products.quantity_decrease' name=title}}</span>
            <span class="icon"> - </span>
        </span>
        --}}
        <input class="form-input form-input--incrementTotal pid_{{id}}"
               id="qty-{{id}}"
               name="qty[]"
               type="number"
               placeholder="Enter a quantity"
               value="{{#filter custom_fields 'TRADE_MIN' property='name' }}{{value}}{{else}}Enter a quantity{{/filter}}"
               data-quantity-min="{{min_purchase_quantity}}"
               data-quantity-max="{{max_purchase_quantity}}"
               onkeydown="return {{#gt min_purchase_quantity  '5'}} false {{else}} true {{/gt}}" 
               min="{{#filter custom_fields 'TRADE_MIN' property='name' }}{{value}}{{else}}1{{/filter}}"
               max="{{#filter custom_fields 'TRADE_MAX' property='name' }}{{value}}{{/filter}}"
               step="{{#filter custom_fields 'TRADE_MIN' property='name' }}{{value}}{{else}}1{{/filter}}"
               pattern="[0-9]*"
               aria-live="polite">
               {{!--
       <span onclick="this.parentNode.querySelector('#qty').stepUp()" class="button button--icon"><span class="is-srOnly">{{lang 'products.quantity_increase' name=title}}</span>
       <span class="icon"> + </span></span>
       --}}
    </div>
</div>

{{else if customer.customer_group_name '===' 'Breeder'}}
   
<div class="purchase-control form-field form-field--increments">
    
    <div class="form-increment" data-quantity-change>
        {{!--
        <span style="display: none;"  onclick="this.parentNode.querySelector('#qty').stepDown()" class="button button--icon"> <span class="is-srOnly">{{lang 'products.quantity_decrease' name=title}}</span>
        <span class="icon"> - </span>
    </span>
    --}}
    {{!-- #if custom_fields }}{{value}}{{else}}1{{/if --}}
        <input class="form-input form-input--incrementTotal pid_{{id}}"
               id="qty-{{id}}"
               name="qty[]"
               type="number"
               placeholder="Enter a quantity"
               value="{{#filter custom_fields 'BREEDER_MIN' property='name' }}{{value}}{{else}}Enter a quantity{{/filter}}"
               data-quantity-min="{{min_purchase_quantity}}"
               data-quantity-max="{{max_purchase_quantity}}"
               onkeydown="return {{#gt min_purchase_quantity  '5'}} false {{else}} true {{/gt}}" 
               min="{{#filter custom_fields 'BREEDER_MIN' property='name' }}{{value}}{{else}}1{{/filter}}"
               max="{{#if max_purchase_quantity}}{{max_purchase_quantity}}{{/if}}"
               step="{{#filter custom_fields 'BREEDER_MIN' property='name' }}{{value}}{{else}}1{{/filter}}"
               pattern="[0-9]*"
               aria-live="polite">
               {{!--
       <span  style="display: none;" onclick="this.parentNode.querySelector('#qty').stepUp()" class="button button--icon"><span class="is-srOnly">{{lang 'products.quantity_increase' name=title}}</span>
       <span class="icon"> + </span></span>
       --}}
    </div>
</div>

{{else}}
 
<div style="border: 1px solid transparent;" class="purchase-control form-field form-field--increments">
   <div   class="form-increment" data-quantity-change>
    {{!--
        <span style="display: none;" onclick="this.parentNode.querySelector('#qty').stepDown()" class="button button--icon"> <span class="is-srOnly">{{lang 'products.quantity_decrease' name=title}}</span>
        
        <span class="icon"> - </span></span>
        --}}
        <input class="form-input form-input--incrementTotal pid_{{id}} "
               id="qty-{{id}}"
               name="qty[]"
               type="number"
               placeholder="Enter a quantity"
               value="{{#filter custom_fields 'PERSONAL_MIN' property='name' }}{{value}}{{else}}Enter a quantity{{/filter}}"
               data-quantity-min="{{min_purchase_quantity}}"
               data-quantity-max="{{max_purchase_quantity}}"
               onkeydown="return {{#gt min_purchase_quantity  '5'}} false {{else}} true {{/gt}}" 
               min="{{#filter custom_fields 'PERSONAL_MIN' property='name' }}{{value}}{{else}}1{{/filter}}"
               max="{{#if max_purchase_quantity}}{{max_purchase_quantity}}{{/if}}"
               step="{{#filter custom_fields 'PERSONAL_MIN' property='name' }}{{value}}{{else}}1{{/filter}}"
               pattern="[0-9]*"
               aria-live="polite">
               {{!--
       <span style="display: none;" onclick="this.parentNode.querySelector('#qty').stepUp()" class="button button--icon"> <span class="is-srOnly">{{lang 'products.quantity_increase' name=title}}</span>
       <span class="icon"> + </span></span>
       --}}
    </div>
</div>

{{/if}}




    {{#or customer (unless settings.hide_price_from_guests)}}
        <div class="purchase-control add-to-cart-buttons">
            <div class="form-action">
                <input
                        id="form-action-addToCart-{{id}}"
                        data-wait-message="{{lang 'products.adding_to_cart'}}"
                        class="button button--primary"
                        type="submit"
                        value="{{#if pre_order}}{{lang 'products.pre_order'}}{{else}}{{lang 'products.quick_add'}}{{/if}}"
                >
                <span class="product-status-message aria-description--hidden">{{lang 'products.adding_to_cart'}} {{lang 'category.add_cart_announcement'}}</span>
            </div>
            {{#if this.with_wallet_buttons}}
                <div class="add-to-cart-wallet-buttons" data-add-to-cart-wallet-buttons>
                    {{> components/common/wallet-buttons}}
                </div>
            {{/if}}
        </div>
    {{/or}}
</div>
</div>
</form>

 
{{#if customer}}
<!-- <script>
    $(function(){
    var pro_id = $('#data-cart-item-id').html();
    return false;
    $.ajax({
        type: 'GET',
        url:fd_api_url+'/validate_product/?store_hash={{settings.store_hash}}&type=sku_min&group_id={{customer_group_id}}&pid={{id}},',
        async: false,
        success:function(data){
           console.log("data"+JSON.stringify(data));
           $(data.data).each(function(i,val){
               pid = parseInt(val.id);
               min_val = parseInt(val.val);
               $(".pid_"+pid).val(min_val);
               $(".pid_"+pid).attr('data-quantity-min-error','The minimum purchasable quantity is '+min_val);
               $(".pid_"+pid).attr('min',min_val);
               
               //console.log("labe"+val.label+", val : "+val.val);
           });
        }
    });
});
</script> -->
{{/if}}